<h1 class="text-center">Home Page</h1>

<h3 class="text-center">Add the Player Here</h3>

<video
  data-video-id="5439721792001"
  data-account="5425749958001"
  data-player="default"
  data-embed="default"
  data-application-id=""
  class="video-js" controls></video>
<script src="//players.brightcove.net/5425749958001/default_default/index.min.js"></script>
